<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
    <link rel="stylesheet" href="{% static "css/jobs.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
     integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>WELCOME TO DURGAJOBS</h1>
        <p>Continuos jobs updates for every hour...............</p>
         <a class="btn btn-primary btn-lg" href="hyd/" role="button">HyderabadJobs</a>&nbsp;&nbsp
          <a class="btn btn-primary btn-lg" href="#" role="button">BangaloreJobs</a>
           <a class="btn btn-primary btn-lg" href="#" role="button">PuneJobs</a>

      </div>

    </div>
  </body>
</html>
